# Byte-compiled / optimized files
__pycache__/
*.py[cod]
*$py.class

# Virtual environments
venv/
env/
ENV/
.venv/

# Django / Database
*.sqlite3
*.log

# IDE & OS files
.vscode/
.idea/
.DS_Store
Thumbs.db
